header {
  background-color: #489cef;
  padding: 1rem;
  color: rgb(236, 137, 137);

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 50px;
      width: auto;
    }

    nav {
      display: flex;
      gap: 1.5rem;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &.active {
          border-bottom: 2px solid white;
        }

        &:hover {
          color: #f39c12;
        }
      }
    }
  }
}
