<div class="contact-container">
  <h2>Contactez-nous!</h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form">
    <div class="form-group">
      <input
        type="text"
        name="name"
        id="name"
        [(ngModel)]="formData.name"
        required
        placeholder=" "
      />
      <label for="name">Nom</label>
    </div>

    <div class="form-group">
      <input
        type="email"
        name="email"
        id="email"
        [(ngModel)]="formData.email"
        required
        placeholder=" "
      />
      <label for="email">Email</label>
    </div>

    <div class="form-group">
      <textarea
        name="message"
        id="message"
        [(ngModel)]="formData.message"
        required
        placeholder=" "
        rows="5"
      ></textarea>
      <label for="message">Message</label>
    </div>

    <button type="submit">Envoyer</button>
  </form>
</div>
